# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. ggplot2
3. Ggally

|Data Science Tools|
|----|
|Jupyter|
|RStudio|
|VS Code|

###Â Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
# This is a simple arithmetic expression to multiply and add integers.
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**
- Make an ordered list in markdown cells
- Run a basic calculation in code
- Add comment line inside code
- Make titles in markdown cells
- Make unordered list in markdown cells

## Author
Egemen Nas